<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- BRAND -->
    <div class="navbar-header">
      <a
        class="navbar-brand jumbotron-heading"
        style="color: black; font-weight: bold"
        href="#"
        >Cook Book</a
      >
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>
      <ul
        class="nav navbar-nav navbar-right"
        style="padding-right: 1rem; padding-bottom: 0.5rem; padding-top: 0.5rem"
      >
        <li class="dropdown-toggle">
          <a
            class="navbar-toggle"
            href="#"
            style="margin: 0rem; padding: 0.75rem"
          >
            About Us <span class="caret"></span>
          </a>
        </li>
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">Shopping List</a></li>
            <li><a href="#">Shopping List</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
