<div class="row">
  <div class="col-xs-12">
    <h4 class="list-group-item-heading">Turkey Tetrazzini</h4>
  </div>
</div>
<hr style="margin: 1rem" />
<div class="row">
  <div class="col-xs-12">
    <img
      src="https://www.simplyrecipes.com/thmb/n00z623LEMGNe-fLJT91Gyx_lJo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Turkey-Tetrazzini-Lead-7-3ba1685f65b5477eb24d5ea231fac084.jpg"
      alt=""
      class="img-responsive"
    />
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<hr style="margin: 1rem" />
<div class="row">
  <div class="col-xs-12">
    <h4 class="list-group-item-heading">Description</h4>
    <p>
      Before adding the ingredients to the casserole dish, line it with foil,
      using enough so that the foil comes up the sides and above the lips of all
      sides of the dish. Follow Steps 1 through 7. Bake as directed in Step 8.
      Cool the cooked casserole completely. Cover the cooled casserole with a
      layer of foil and place it in the freezer, in the casserole dish. Once the
      casserole is completely frozen, pop it out of the casserole dish and wrap
      it tightly in a second layer of foil. Freeze for up to 3 months.
    </p>
  </div>
</div>
<hr style="margin: 1rem" />
<div class="row">
  <div class="col-xs-12">
    <h4 class="list-group-item-heading">Ingredients</h4>
    <ul>
      <li>1 (8 ounce) package egg noodles</li>
      <li>2 tablespoons butter</li>
      <li>1 (6 ounce) can sliced mushrooms</li>
      <li>2 cups chopped cooked turkey</li>
      <li>1 (10.75 ounce) can condensed cream of celery soup</li>
      <li>1 cup sour cream</li>
      <li>1 teaspoon salt</li>
      <li>⅛ teaspoon pepper</li>
      <li>½ cup grated Parmesan cheese</li>
    </ul>
  </div>
</div>
