<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Cook Book</h1>
    <p class="lead text-muted">
      Cook Book is a trusted resource for home cooks with more than 3,000 tested
      recipes, guides, and meal plans, drawing over 15 million readers each
      month from around the world. We’re supported by a group of recipe
      developers, food writers, recipe and product testers, photographers, and
      other creative professionals.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Quick & Easy Recipes</a>
      <a href="#" class="btn btn-secondary my-2">Buying Guides</a>
    </p>
  </div>
</section>
